@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #root {
        font-family: "Roboto Mono", monospace;
        min-height: 100vh;
        min-height: 100dvh;
    }

    .calculator {
        width: 100%;
        min-height: 100vh;
        min-height: 100dvh;
    }

    .calculator__buttons {
        min-height: clamp(400px, 125vw, 500px);
    }

    @media screen(sm) {
        .calculator {
            width: 320px;
            min-height: initial;
        }

        .calculator__result {
            min-height: 120px;
        }

        .calculator__buttons {
            min-height: 400px;
        }
    }
}
